h1, h2, h3, h4, h5, h6	{
	font-family: "Raleway", Arial, Sans-serif;
	font-weight: normal;
}

body  {
	background-image: url("../img/clouds26.jpg");
}

.jumbotron	{
	margin-top: 10em;
	background-color: #BFEFFF;
}